Package: lynceus-agent-dbgsym
Source: lynceus-agent
Version: 0.1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Kenraaliskuutteri <aleksi.puhakainen@gmail.com>
Installed-Size: 42
Depends: lynceus-agent (= 0.1.0)
Section: debug
Priority: optional
Description: debug symbols for lynceus-agent
Build-Ids: 1d38458441d02e15b1e6929aeaa857a0fac22c75
